.react-calendar__month-view__weekdays__weekday{
    color: #733ef0;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    /* margin: 0px 8px; */
}

abbr[title] {
    text-decoration: none;
    border-bottom: none;
    cursor: default;
    font-size: medium;
}

.react-calendar__tile{
    margin: 8px 0px;
    width: 2%;
    height: 4%;
    padding: 8px 0px;
    border: 1px solid #fbfbfb;
}

.react-calendar__tile:hover{
    background: #d9aaf6;
    border: 1px solid #d9aaf6;
}

.react-calendar__tile--active{
    border: 1px solid #733ef0;
    color: #733ef0;
}

.react-calendar__tile--now{
    background: #733ef0;
    color: #fff;
}

.react-calendar__navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px 0px;
}

.react-calendar__navigation__arrow{
    padding: 0px 8px;
    margin: 0px 10px;
    /* font-size: 1.5rem; */
}

.react-calendar__navigation__next-button{
    background-color: #d9aaf6;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.react-calendar__navigation__prev-button{
    background-color: #d9aaf6;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.react-calendar__navigation__next2-button{
    background-color: #f0f2f5;
    /* height: 20px; */
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

.react-calendar__navigation__prev2-button{
    background-color: #f0f2f5;
    /* height: 20px; */
    display: flex;
    align-items: center;
    border-radius: 50%;
    font-weight: bold;
}

/* make it a sliding right sidebar */
.task{
    position: fixed;
    top: 0;
    right: 0;
    width: 26vw;
    height: 100%;
    background: rgb(64, 78, 79);
    z-index: 999;
    overflow: hidden;
    transition: width 0.5s ease;
}


/* screen for medium screen */
/* @media screen(min-width: "800px") {
    
} */