.solve__question{
    border: 1px solid #9667e0;
    color: #9667e0;
}

.solve__question:hover{
    background-color: #9667e0;
    color: #FFF;
}

.course__option{
    font-family: sans-serif;
    letter-spacing: 4px;
}

.course__option li{
    border: 0.001rem solid #adb5bd;
}

.question__p{
    white-space: nowrap; /* prevent text from wrapping */
    overflow: hidden; /* hide any overflowing text */
    text-overflow: ellipsis;
}

.student__course__title__h{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
}