.nav_link{
    cursor: pointer;
    font-weight: 600;
}

.nav_link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9900ff;
    transition: width .3s;
}

.nav_link:hover::after {
    width: 100%;
    transition: width .3s;
}

.as_teacher, .as_student{
    /* make slow hovre effect */
    transition-duration: 0.9s;

}

.as_teacher:hover{
    transform: scale(1.1);
}

.as_student:hover{
    transform: scale(1.1);
}