.sideb{
    /* create a box shadow */
    /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    z-index: 888;
    left: 0;
    position: fixed;
    min-height: 100vh; */
    background-color: #313a46;
    position: fixed;
    right: auto;
    bottom: auto;
    z-index: 1000;
    height: 100%;
}

/* reduce scrollbar width */
::-webkit-scrollbar {
    width: 0.3rem;
}

.test{
    padding: 2px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}


.elements:hover{
    color: #ffffff;
    cursor: pointer;
}

.elements.active{
    color: #ffffff;
}
.not_active{
    color: #7F8C9D;
}

/* Sidebar for mobile screen */
.sidebar_mobile{
    position: fixed;
    background-color: #FFF;
    z-index: 900;
    min-height: 100vh;
}