input:focus{
    outline: none;
}

.abcd:focus-within{
    border: 1px solid #6e4ffcff;
}

/* when I click inside input box the border of the form should be red */

.public__course__title{
    overflow: hidden;
}

.enroll__button{
    position: absolute;
    right: 0;
    top: 10px;
    background-color: #FFEA20;
    text-shadow: 1px 0px 3px rgba(0, 0, 0, 0.4);
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); */
    color: rgb(84, 93, 99);
}

.enroll__button::before {
    content: "";
    position: absolute;
    left: -20px;
    top: -1px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 20px solid #FFEA20;
    /* box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.4); */
    /* clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); */
  }

.course__card__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.4rem;
    letter-spacing: 1px;
    overflow: hidden;
    max-height: calc(2em * 2);
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.public__course__description{
    overflow: hidden;
  /* Add these properties to show ellipsis after two lines */
  max-height: calc(2em * 2); /* Two lines of text */
  line-height: 1.5em; /* Line height of the text */
  /* overflow: hidden; Hide the overflowing text */
  text-overflow: ellipsis; /* Show ellipsis for the overflow */
  white-space: nowrap; /* Prevent wrapping of text */
}


.color__card{
    background-color: #6b7780ff;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='400' preserveAspectRatio='none' viewBox='0 0 1440 400'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1048%26quot%3b)' fill='none'%3e%3crect width='1440' height='400' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M169.86751645346249 284.61236620320324L185.70658060556056 210.4430695637212 122.3059115994996 229.8265993038792z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M937.7261203826772 122.44367592808143L918.539768959113 23.738454660166667 819.8345476911983 42.92480608373086 839.0208991147624 141.63002735164562z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M180.36%2c217.585C220.345%2c218.891%2c260.405%2c198.466%2c277.827%2c162.453C293.697%2c129.648%2c274.994%2c93.565%2c255.14%2c63.006C237.569%2c35.961%2c212.611%2c12.627%2c180.36%2c12.433C147.82%2c12.237%2c120.839%2c34.247%2c104.007%2c62.097C86.464%2c91.123%2c78.385%2c125.982%2c93.334%2c156.425C110.085%2c190.536%2c142.378%2c216.344%2c180.36%2c217.585' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M524.406%2c261.818C538.941%2c261.605%2c551.36%2c252.259%2c558.489%2c239.59C565.472%2c227.181%2c566.135%2c212.257%2c559.337%2c199.745C552.215%2c186.636%2c539.313%2c177.461%2c524.406%2c176.86C508.409%2c176.215%2c492.081%2c182.764%2c484.233%2c196.718C476.508%2c210.453%2c480.275%2c227.204%2c488.55%2c240.614C496.365%2c253.279%2c509.526%2c262.036%2c524.406%2c261.818' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M768.1999431902212 260.6743836973108L726.6888774886853 228.24238472372485 698.7964118790743 306.7249827628217z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1048'%3e%3crect width='1440' height='400' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

.enrolled__to__course{
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.7);
}